// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.admin-edit-mode-is-on {
  managed-content {
    *:first-child {
      cursor: pointer;
      text-decoration: underline dotted rgba(var(--ion-color-warning-rgb), 0.7);

      &:hover {
        text-decoration: underline dotted rgb(var(--ion-color-warning-rgb));
      }
    }
  }
}
