rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function getRole() {
      return get(/databases/$(database)/documents/user-configs/$(request.auth.uid)).data.role;
    }
    function isSuper() {
      return getRole() == "SUPER";
    }
    function isSuperOrOwner() {
      return isSuper() || getRole() == "OWNER";
    }

    match /sandbox/{document=**} {
      allow read;
      allow write;
    }

    match /commerce.products/{product}/{document=**} {
      allow read;
    }
    match /commerce.products/{product}/{document=**} {
      allow write: if isSignedIn() && isSuperOrOwner();
    }

    match /user-configs/{uid}/{document=**} {
      function isAllowed() {
        return uid == request.auth.uid
          || isSuperOrOwner()
      }

      allow read: if isSignedIn() && isAllowed();
      allow create: if resource == null && isSignedIn() && isAllowed();
      allow update, delete: if isSignedIn() && isAllowed();
    }
  }
}
