rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function getRole() {
      return request.auth.token.role;
    }
    function isSuper() {
      return isSignedIn() && getRole() == "SUPER";
    }
    function isSuperOrOwner() {
      return isSignedIn() && (isSuper() || getRole() == "OWNER");
    }
    function isSuperOrOwnerOrAdmin() {
      return isSignedIn() && (isSuperOrOwner() || getRole() == "ADMINISTRATOR");
    }

    match /sandbox/{document=**} {
      allow read;
      allow write;
    }

    match /admin.contents/{document=**} {
      allow read;
      allow write: if isSuperOrOwnerOrAdmin();
    }

    match /commerce.products/{id}/{document=**} {
      allow read;
      allow write: if isSuperOrOwnerOrAdmin();
    }

    match /identity.user-configs/{uid}/{document=**} {
      function isIdAllowed(id) {
        return id == request.auth.uid
          || isSuperOrOwner()
      }

      allow read: if isIdAllowed(uid);
      allow create: if request.resource == null && isIdAllowed(uid);
      allow update, delete: if isIdAllowed(uid);
    }
  }
}
