rules_version = "2";
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    function getRole() {
      return request.auth.token.role;
    }
    function isSuper() {
      return isSignedIn() && getRole() == "SUPER";
    }
    function isSuperOrOwner() {
      return isSignedIn() && (isSuper() || getRole() == "OWNER");
    }
    function isSuperOrOwnerOrAdmin() {
      return isSignedIn() && (isSuperOrOwner() || getRole() == "ADMINISTRATOR");
    }

    match /content.image-groups/{imageGroupId} {
      allow read;
      allow write: if isSuperOrOwnerOrAdmin();
    }
  }
}
