.footer-inner {
    padding: 3rem 0;
    font-size: 1rem;
    color: #aaa;
    text-align: center;

    a, a:link, a:active, a:visited, a:hover, a:focus {
        font-weight: 500;
        text-decoration: underline;
        color: #999;
    }
}