form {
    margin: 0 auto;
    width: 50rem;
    padding-top: 2rem;

    textarea {
        height: 10rem;
    }

    button {
        display: block;
        cursor: pointer;
        margin: 3rem auto 0;
    }
}

article {
    text-align: center;
}
