<div
  id="meshell-sturgis-scroll-container"
  [style]="{
    height: '100vh',
    overflowY: 'scroll'
  }"
>
  <div id="meshell-sturgis-container">
    <ms-masthead></ms-masthead>
    <main>
      <div
        id="meshell-sturgis-routes"
        class="container"
        aria-live="polite"
        [ngClass]="{ 'is-transitioning': ui.transition$ | async }"
      >
        <router-outlet></router-outlet>
      </div>
    </main>
    <ms-footer></ms-footer>
    <div
      *ngIf="flash.message"
      class="flash-message"
      [ngClass]="flash.type || ''"
    >
      {{ flash.message }}
    </div>
  </div>
</div>
