$content-max-width-px: 1100;
$hero-title-font-size-above-md-px: 100;
$hero-title-font-size-below-md-px: 50;
$hero-subtitle-font-size-above-md-px: 20;
$hero-subtitle-font-size-below-md-px: 16;
$font-family: "Roboto", "Courier", 'Times New Roman', Times, serif;
$headings-font-family: $font-family;

:root {
  /** typeface */
  --ion-font-family: #{$font-family};
}

@import "./variables-light-mode";
