<header class="page-title">
  <h1 *ngIf="category?.name" class="display-heading-{{category.slug}}">{{category.name}}.</h1>
  <ms-back-btn routeUrl="/"></ms-back-btn>
</header>

<div class="posts grid">

  <div *ngFor="let post of posts$ | async"
    class="col post-in-grid"
    [ngClass]="{
      'has-featured-image': post._embedded && post._embedded['wp:featuredmedia']
    }">
    <div class="col-inner"
      (click)="goToPost(post.slug)"
      (keyup)="handlePostKeyup($event, post.slug)"
      [attr.tabindex]="0"
      [ngStyle]="{
        'background-image': 'url(' + (post._embedded && post._embedded['wp:featuredmedia'] ? post._embedded['wp:featuredmedia'][0].media_details?.sizes?.medium?.source_url : undefined) + ')'
      }">

      <div class="frame-title">
        <h2>{{post?.title?.rendered}}</h2>
        <div class="line-drawn-border" [style.pointer-events]="'none'"></div>
      </div>
      <!-- <pre *ngIf="post._embedded && post._embedded['wp:featuredmedia']"><code>{{ post._embedded['wp:featuredmedia'][0].media_details | json }}</code></pre> -->
      <div class="line-drawn-border"></div>

    </div>
  </div>

</div>
