$animation-duration: 500ms;
$drawer-height: 60vh;
$has-preview-notice-height: 26px;

@mixin animate-in-out($height: $drawer-height) {
  @keyframes animate-in {
    from {
      transform: translateY($height);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes animate-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY($height);
    }
  }

  .animate-in,
  .animate-out {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .animate-in {
    animation: animate-in $animation-duration cubic-bezier(0, 0.6, 0.2, 1);
  }
  .animate-out {
    animation: animate-out $animation-duration cubic-bezier(0.3, 0.8, 0.3, 1);
    transform: translateY($height);
  }
}

@include animate-in-out($drawer-height);

#managed-content-editor-wrapper {
  &.has-preview {
    #has-preview-notice {
      display: block;
      box-sizing: border-box;
      height: $has-preview-notice-height;
    }
    ion-router-outlet {
      top: $has-preview-notice-height;
    }
  }
  &.admin-edit-mode-is-on {
    managed-content {
      cursor: pointer;
      text-decoration: underline solid rgba(var(--ion-color-warning-rgb), 0.6);
  
      &:hover {
        text-decoration: underline solid rgb(var(--ion-color-warning-rgb));
      }
    }
  }
}

#managed-content-editor-drawer {
  $actions-height: 50px;

  ion-card {
    background: #fff;
  }

  #editor-container .ck-editor__main > .ck-content {
    height: calc(50vh - #{$actions-height});
  }

  #editor-actions {
    background: #fff;
    height: $actions-height;
  }
}
