$animation-duration: 500ms;
$drawer-height: 200px;
$has-preview-notice-height: 26px;

@mixin animate-in-out($height: 200px) {
  @keyframes animate-in {
    from {
      transform: translateY($height);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes animate-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY($height);
    }
  }

  .animate-in,
  .animate-out {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $height;
  }

  .animate-in {
    animation: animate-in $animation-duration cubic-bezier(0, 0.6, 0.2, 1);
  }
  .animate-out {
    animation: animate-out $animation-duration cubic-bezier(0.3, 0.8, 0.3, 1);
    transform: translateY($height);
  }
}

@include animate-in-out($drawer-height);

#managed-content-editor-wrapper {
  &.has-preview {
    #has-preview-notice {
      display: block;
      box-sizing: border-box;
      height: $has-preview-notice-height;
    }
    ion-router-outlet {
      top: $has-preview-notice-height;
    }
  }
  &.admin-edit-mode-is-on {
    managed-content {
      cursor: pointer;
      text-decoration: underline dotted rgba(var(--ion-color-warning-rgb), 0.4);
  
      &:hover {
        text-decoration: underline dotted rgb(var(--ion-color-warning-rgb));
      }
    }
  }
  
}

#managed-content-editor-drawer {
  ion-card {
    margin: 0;
    transform: translateY(10px);
    padding-bottom: 10px;
    width: 100%;
    height: $drawer-height;
  
    form {
      display: flex;
      flex-direction: column;
      height: $drawer-height;
  
      .drawer-card-actions {
        display: flex;
        padding: 10px;
        justify-content: flex-start;
      }
    }
  }
}
